.new-app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .new-leafer-tool {

    .active {
      background-color: red;
    }
  }

  .new-leafer {
    width: 500px;
    height: 500px;
    border: 1px solid red;
  }
}