.App {
  position: relative;
  user-select: none;

  >div {
    position: absolute;
  }

  .card {
    // background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
  }

  .line {
    background: #000;
  }
}