.drag {
    width: 100px;
    height: 50px;
    line-height: 50px;
    border: 1px solid red;
    text-align: center;
}

.dragging {
    opacity: 0.1;
}

.dropList {
    padding: 5px;
    min-height: 50px;
    min-width: 100px;
    border: 1px dashed #e8e8e8;
    display: flex;
}